#version: '2'
services:
  portfolio-frontend-nextjs-dev:
    profiles: [dev]
    restart: unless-stopped
    build:
      context: ./portfolio-frontend-nextjs
      dockerfile: Dev.dockerfile
    volumes:
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      - WEBSITE_URL=https://
      - BACKEND_HOSTNAME=http://portfolio-backend-fastapi-dev:8000
      - RECAPTCHA_SITE_KEY=
      - NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
    command: ['npm', 'run', 'dev']
    develop:
      watch:
        - action: sync
          path: ./portfolio-frontend-nextjs
          target: /app
        - action: rebuild
          path: ./portfolio-frontend-nextjs/package.json
        - action: rebuild
          path: ./portfolio-frontend-nextjs/package-lock.json
    networks:
      - webnet-dev
  portfolio-backend-fastapi-dev:
    profiles: [dev]
    restart: unless-stopped
    build:
      context: ./portfolio-backend-fastapi
    environment:
      - DATABASE_URI=postgresql+psycopg2://USER:PASS@db-dev/DB_NAME
      - APP_SECRET=dihordev
      - GOOGLE_PROJECT_ID=
      - RECAPTCHA_SECRET_KEY=
      - RECAPTCHA_API_KEY=
    command: ["poetry", "run", "uvicorn", "portfolio_backend_fastapi.main:app", "--host=0.0.0.0", "--reload"]
    networks:
      - webnet-dev
    volumes:
      - /root/.cache/pypoetry/virtualenvs
    develop:
      watch:
        - action: sync
          path: ./portfolio-backend-fastapi
          target: /app
        - action: rebuild
          path: ./portfolio-backend-fastapi/pyproject.toml
  nginx-dev:
    profiles: [dev]
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/dev/conf:/etc/nginx/conf.d
      - ./nginx/dev/certs:/etc/nginx/certs
    networks:
      - webnet-dev
    develop:
      watch:
        - action: rebuild
          path: ./nginx/dev/conf/*
  db-dev:
    profiles: [dev]
    restart: unless-stopped
    image: postgres:14.2-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db_data_dev:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    networks:
      - webnet-dev

  portfolio-frontend-nextjs:
    profiles: [prod]
    restart: unless-stopped
    build:
      context: ./portfolio-frontend-nextjs
    depends_on:
      - portfolio-backend-fastapi
    environment:
      - NODE_ENV=production
      - WEBSITE_URL=https://dihor.dev
      - BACKEND_HOSTNAME=http://portfolio-backend-fastapi:8000
      - RECAPTCHA_SITE_KEY=
      - NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
    networks:
      - webnet
    volumes:
      - /root/.cache/pypoetry/virtualenvs
  portfolio-backend-fastapi:
    profiles: [prod]
    restart: unless-stopped
    build:
      context: ./portfolio-backend-fastapi
    depends_on:
      - db
    environment:
      - DATABASE_URI=postgresql+psycopg2://USER:PASS@db/DB_NAME
      - APP_SECRET=dihordev_prod
      - GOOGLE_PROJECT_ID=
      - RECAPTCHA_SECRET_KEY=
      - RECAPTCHA_API_KEY=
    networks:
      - webnet
  nginx:
    profiles: [prod]
    restart: unless-stopped
    image: nginx:alpine
    depends_on:
      - portfolio-frontend-nextjs
      - portfolio-backend-fastapi
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d
      - ./nginx/certs:/etc/nginx/certs
    networks:
      - webnet
  db:
    profiles: [prod]
    restart: unless-stopped
    image: postgres:14.2-alpine
    networks:
      - webnet
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD:
      POSTGRES_DB: postgres

networks:
  webnet:
    driver: bridge
  webnet-dev:
    driver: bridge

volumes:
  db_data: {}
  db_data_dev: {}
